.imageGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-top: 30px;
}

.imageGalleryItem {
  /* width: calc((100% - 48px) / 3); */
  max-height: 240px;
  border: 1px solid #808080;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.3s;
  box-shadow: 10px 10px 20px 5px #47679d;
}

.imageGalleryItem:hover,
.imageGalleryItem:focus {
  transform: scale(1.05);
  box-shadow: 0 20px 40px 0 rgb(33, 199, 232);
}
